.radio-slider-container {
  display: inline-block;
  position: relative;
}

.radio-slider-container input[type="radio"] {
  display: none;
}

.radio-slider-container label {
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
  background-color: #ddd;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.radio-slider-container label:hover {
  background-color: #bbb;
}

.radio-slider-container input[type="radio"]:checked + label {
  background-color: #007bff;
  color: #fff;
}

.radio-slider-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.radio-slider {
  background-color: #f1f1f1;
  border-radius: 25px;
  padding: 5px;
  display: inline-flex;
  justify-content: space-around;
  width: 300px;
  position: relative;
}

.radio-slider label {
  flex-grow: 1;
  text-align: center;
}
